{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="intro-header">

  <div class="content-section" style="background: transparent; border: none">
    <br />
    {{ utils.flashed_messages() }}
    <br />
    <div class="center" style="width: 25%; text-align: center; background: transparent; background-color: rgba(238, 243, 246, 0.6); border-radius: 20px;">

      <form style="background-color: rgba(238, 243, 246, 0.6); border-radius: 20px;" action="/login" method="POST">
        <h3 style="padding-bottom: 20px; padding-top: 30px; color: rgb(63 124 189);">WELCOME</h3>
        <img src="../static/img/favico.png" alt="">
        {{ form.csrf_token }}
        <div class="">
          <div class="" style="padding-bottom: 30px; padding-top: 30px;">
            <img style="height: 30px; filter: invert(39%) sepia(91%) saturate(2085%) hue-rotate(195deg) brightness(100%) contrast(102%);" src="../../../static/img/person.svg"
              alt="person">{{ form.email(class="login_input", placeholder="Type your e-mail") }}
          </div>
          <div class="" style="padding-bottom: 30px;">
            <img style="height: 30px; filter: invert(39%) sepia(91%) saturate(2085%) hue-rotate(195deg) brightness(100%) contrast(102%);" src="../../../static/img/key.svg"
              alt="key">{{ form.password(class="login_input", placeholder="Type your password") }}
          </div>
          <div class="" style="padding-bottom: 30px;">
            {{ wtf.form_field(form.submit)}}
          </div>
        </div>
      </form>

      <!-- <br/>
    {{ wtf.quick_form(form) }} -->

    </div>

  </div>
</div>
{% endblock %}
