< !-- https: //icons8.com/icon/br5tOtxLwhwW/logistic" -->
* {
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
}

html {
  height: 100%;
  background-color: #ebf1f5;
}

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  width: 100%;
  min-height: 100%;
  margin: 0;
  background-color: #ebf1f5;
}

h1, h2, h3 {
font-weight: 700;
}

th, td {
  text-align: center;
}

td img:hover {
  transform: scale(1.4);
  transition: 0.4s;
  filter: invert(39%) sepia(91%) saturate(2085%) hue-rotate(195deg) brightness(100%) contrast(102%);
}

td img {
  transition: 0.2s;

}

td a {
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.btn {
  transition: 0.2s;
}

footer {
  padding: 5px 0px 20px 0px;
  text-align: center;
  background-color: #ebf1f5;
}

p.copyright {
  margin: 15px 0 0;
}

.alert-info {
  padding: 10px;
  width: 40%;
  margin: auto;
  margin-top: 30px;
  color: rgb(26, 136, 255);
  background-color: rgb(230, 242, 255,.7);
  text-align: center;
  border: 2px solid;
  border-radius: 20px;
}

.btn-default {
  margin-top: 25px;
  border-color: rgb(0, 99, 204);
  color: rgb(26, 136, 255);
}

.btn-default:hover {
  background-color: rgb(230, 242, 255);
  color: rgb(26, 136, 255);
}

.button-add {
  text-align: center;
  margin-bottom: 10px;
}

.center-login{
  margin: auto;
  width: 80%;
  padding: 10px;
  background-color: #ebf1f5;
  font-size: 0.7rem;
}
.center-table{
  margin: auto;
  width: 50%;
  padding-top: 50px;
  background-color: #ebf1f5;
  font-size: 0.7rem;
}

.center {
  margin: auto;
  width: 80%;
  padding-top: 50px;
  background-color: #ebf1f5;
  font-size: 0.7rem;
}

.content-section {
  /* padding: 50px 0; */
  padding: 10px 0;
  border-top: 1px solid #e7e7e7;
  background-color: #ebf1f5;
}

.footer, .push {
  clear: both;
  height: 4em;
}

.intro-header {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  color: #f8f8f8;
  background: url(../img/smartphone-g806fb7aca_1920.jpg) no-repeat center;
  background-size: cover;
  height: 100%;
}

.intro-message {
  position: relative;
  padding-top: 15%;
  padding-bottom: 15%;
}

.intro-message>h1 {
  margin: 0;
  text-shadow: 4px 4px 9px rgb(0, 0, 0, 0.8);
  color: rgb(230, 242, 255);
  font-size: 4em;
}

.intro-message>h3 {
  text-shadow: 4px 4px 9px rgb(0, 0, 0, 0.8);
  color: rgb(230, 242, 255);
  text-transform: uppercase;
}

.intro-divider{
  background-color: #3f7cbd;
}

.topnav {
  font-size: 14px;
  padding-left: 20px;
  padding-right: 40px;
}

.user-logged {
  color: rgba(0,0,0,.9);
}

.nvp-title-nav {
  text-shadow: 4px 4px 9px rgb(0, 0, 0, 0.8);
  color: rgb(26, 136, 255);
}

.wrapper {
  background-color: #ebf1f5;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.list-inline {
  list-style: none;
  display: inline-flex;
  text-decoration: none;
}

.list-inline a {
  text-decoration: none;
  padding-right: 10px;
  color: #001833;
}

.outer {
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
}

table {
  counter-reset: rowNumber -1;
}

table tr {
  counter-increment: rowNumber;
}

table tr td:first-child::before {
  content: counter(rowNumber);
}

.error-header {
  font-size: 15rem;
  color: #990000;
  font-weight: bold
}

.error-message{
  color: #990000;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 20px;
}
/* --------------------------------------------------------------------------- */

.login_input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
  background: none;
}

.login_input:active,
.login_input:focus,
.login_input:hover {
	outline: none;
	border-bottom-color: rgb(26, 136, 255);
  background: none;
}

::placeholder{
  transition: .2s;
}
input:hover::placeholder,
input:focus::placeholder{
  color: rgb(26, 136, 255);
  transition: .2s;
}
