{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if delivery_consumables %}
        Consumable delivery
    {% else %}
        Consumable consumption
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if delivery_consumables %}
                <h1>Consumable delivery</h1>
            {% else %}
                <h1>Consumable consumption</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
